<ion-header>
    <ion-toolbar>
        <ion-title>Members</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item class="member-item" *ngFor="let member of members" (click)="viewMemberDetails(member)">
            <ion-avatar class="profile-image" items-left>
                <img src="{{member.profileImg}}">
            </ion-avatar>
            <ion-label>
                <h2>{{member.firstName}} {{member.lastName}}</h2>
                <p [ngClass]="{'member-date-eligible':(member.eligibility === 'Eligible'), 'member-date-ineligible':(member.eligibility === 'Ineligible')}">{{member.firstName}} has been a member since {{member.registrationDate}}</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>