<ion-header>
    <ion-toolbar>
        <ion-title>Members</ion-title>
        <ion-button slot="end" fill="clear" color="medium">
            <ion-icon slot="icon-only" name="refresh"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item class="member-item" *ngFor="let member of members" (click)="viewMemberDetails(member)">
            <ion-avatar class="profile-image" items-left>
                <img src="{{member.profileImg}}">
            </ion-avatar>
            <ion-label>
                <h2>{{member.firstName}} {{member.lastName}}</h2>
                <p [ngClass]="{'member-date-eligible':(member.eligibility === 'Eligible'), 'member-date-ineligible':(member.eligibility === 'Ineligible')}">{{member.firstName}} has been a member since {{member.registrationDate}}</p>
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>