.profile-image {
    margin: 10px;
}

.member-date-ineligible {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    color: #FF5A51;
    font-weight: 200;
}

.member-date-eligible {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    color: #359668;
    font-weight: 200;
}

.member-item {
    padding: 20px;
}